<section class="container content-card-container" >
    <div class="row content-card-display" >
        <div class="col-lg-2 card-container"></div>
        <div class="col-lg-2 card-container"></div>
        <div class="col-lg-2 card-container"></div>
        <div class="col-lg-2 card-container"></div>
        <div class="col-lg-2 card-container"></div>
        <div class="col-lg-2 card-container"></div>
        <div class="col-lg-2 card-container"></div>
        <div class="col-lg-2 card-container"></div>
        <div class="col-lg-2 card-container"></div>
    </div>
</section>