<section class="container-fluid manage-content-container">
    <div class="row manage-content-row">
        <div class="col-md-6 data-input">
            <div class="form-container">
                <div class="form-header">
                    <h2 class="text">Upload new Content</h2>
                </div>
                <form [formGroup]="contentForm">
                    <div class="form-elements">
                        <div class="form-element">
                            <label>
                                title
                            </label>
                            <input type="text" formControlName="title">
                        </div>
                        <div class="form-element">

                            <label>
                                type:
                            </label>
                            <input type="text" formControlName="type">
                        </div>
                        <div class="form-element">

                            <label>
                                language:
                            </label>
                            <input type="text" formControlName="language">
                        </div>

                        <div class="form-element">

                            <label>
                                genres:
                            </label>
                            <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"  [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" 
                            (onSelect)="onItemSelect($event)" 
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>                        </div>
                        <div class="form-element">

                            <label>
                                cast:
                            </label>
                            <input type="text" formControlName="cast">
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</section>


<!-- contentId: string,
    title:string,
    duration:string,
    type:ContentType,
    rating?:any,
    language: string,
    added:Date,
    genres: Array<string>,
    cast:Array<string>,
    year:string,
    imageUrl:string -->