<section class="container-fluid manage-content-container">
    <div class="row manage-content-row">
        <div class="col-md-6 data-input">
            <div class="form-container">
                <div class="form-header">
                    <h2 class="text">Upload new Content</h2>
                </div>
                <form [formGroup]="contentForm" (ngSubmit) = submitContentForm()>
                    <div class="form-elements">
                        <div class="form-element">
                            <label>
                                title
                            </label>
                            <input type="text" formControlName="title">
                        </div>
                        <div class="form-element">
                            <label>
                                year:
                            </label>
                            <input type="text" formControlName="year">
                        </div>
                        <div class="form-element">
                            <label>
                                language:
                            </label>
                            <input type="text" formControlName="language">
                        </div>

                        <div class="form-element">
                            <label>
                                genres:
                            </label>
                            <angular2-multiselect [data]="availableGenres" [(ngModel)]="selectedGenres"
                             [settings]="genreDropdownSettings" formControlName="genres" (onAddFilterNewItem) = "addNewGenre($event)">
                            </angular2-multiselect>
                        </div>
                        <div class="form-element">

                            <label>
                                cast:
                            </label>
                            <angular2-multiselect [data]="availableCast" [(ngModel)]="selectedCast"
                             [settings]="castDropDownSettings" formControlName="cast" (onAddFilterNewItem) = "addNewCast($event)">
                            </angular2-multiselect>
                        </div>

                        <div class="image-upload form-element">
                            <input (input)="uploadFileToServer($event,setDataUrl)" type="file" name="Upload the content" id="">
                        </div>

                        <div class="form-element">
                            <button class="btn btn-primary" [disabled]="!contentForm.valid" type="submit">Submit</button>
                        </div>

                        

                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 image-section">
            
            <div class="image-preview">
                <img [src]="imageUrl" alt="" srcset="">
            </div>
        </div>
    </div>
</section>


<!-- contentId: string,
    title:string,
    duration:string,
    type:ContentType,
    rating?:any,
    language: string,
    added:Date,
    genres: Array<string>,
    cast:Array<string>,
    year:string,
    imageUrl:string -->