<section class="container-fluid manage-content-container">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="contentForm">
                <div class="form-elements">
                    <label>
                        title
                        <input type="text" formControlName="title">
                    </label>

                    <label>
                        type:
                        <input type="text" formControlName="type">
                    </label>

                    <label>
                        language:
                        <input type="text" formControlName="language">
                    </label>

                    <label>
                        added:
                        <input type="text" formControlName="added">
                    </label>

                    <label>
                        genres:
                        <input type="text" formControlName="genres">
                    </label>

                    <label>
                        cast:
                        <input type="text" formControlName="cast">
                    </label>
                    <label>
                        year:
                        <input type="text" formControlName="year">
                    </label>
                </div>
            </form>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</section>


<!-- contentId: string,
    title:string,
    duration:string,
    type:ContentType,
    rating?:any,
    language: string,
    added:Date,
    genres: Array<string>,
    cast:Array<string>,
    year:string,
    imageUrl:string -->