<nav class="navbar navbar-expand-lg navbar-dark dark-background">
    <a class="navbar-brand" href="#">OTT Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/curated" routerLinkActive="active">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/browse" routerLinkActive="active">Link</a>
        </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>

<footer class="home-footer d-flex">
  <a href="http://github.com/ch4n8ru"></a>
</footer>